<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <h2>Welcome!</h2>
        <p style="font-size: 1.5em;"><a href="/teacher-login">Teachers, click here</a></p><p><i>logged in teachers, <a href="teacher-dashboard">click here</a></i></p>
        <p style="font-size: 1.5em;"><a href="/student-login">Students, click here</a></p>
        <p>Otherwise, <strong>leave</strong>.</p>
    </body>
    <footer>
        <i><a href="https://github.com/BadCoder2/bad-voting-system">this software</a> is licensed under the MIT license</i>
    </footer>
</html>