<h1>Please enter teacher code</h1>
<p><FONT COLOR="#ff0000"> {{error}}</FONT></p>
<form action="" method="post"><input name="scode" type="password" value="{{request.form.scode}}" placeholder="Code" /><input type="submit" value="Login" /></form>