<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('changevotewarn', function(msg){
      console.log(msg);
      console.log(document.getElementById("tcode"))
      console.log(document.getElementById("tcode").innerText)
      socket.emit('tcode-reply-changevote', document.getElementById("tcode").innerText);
    })
    socket.on('changetablewarn', function(msg){
      console.log(msg);
      console.log(document.getElementById("tcode"))
      console.log(document.getElementById("tcode").innerText)
      socket.emit('tcode-reply-changetable', document.getElementById("tcode").innerText);
    })
    socket.on('changevotes', function(msg){
      console.log(msg);
      document.getElementById("good-votes").innerHTML = msg["good"];
      document.getElementById("n-votes").innerHTML = msg["neutral"];
      document.getElementById("bad-votes").innerHTML = msg["bad"];
    });
    socket.on('changetable', function(msg){
      console.log(msg);
      document.getElementById("table").innerHTML = msg;
    });
</script>
  </head>
  <body>
    <p>Teacher code: <span id='tcode'> {{TEACHER_CODE}} </span><br></p>
    <p>Vote totals:<br></p>
      <p style="line-height:1.2">Good - <span id="good-votes"> {{VOTES["good"]}} </span><br>
      Neutral - <span id="n-votes"> {{VOTES["neutral"]}} </span><br>
      Bad - <span id="bad-votes"> {{VOTES["bad"]}} </span><br></p>
    <p id="table"> {{TABLE_ELM}} </p>
  </body>
</html>