<!DOCTYPE html>
<html>
  <body>
    <p>Teacher code: {{TEACHER_CODE}}<br></p>
    <p>Vote totals:<br></p>
      <p style="line-height:1.2">Good - <span id="good-votes"></span><br>
      Neutral - <span id="n-votes"></span><br>
      Bad - <span id="bad-votes"></span><br></p>
    <p>{{ TABLE_ELM }}</p>
  </body>
</html>