<!DOCTYPE html>
<html>
  <body>
    <p>Teacher code: {{TEACHER_CODE}}<br></p>
    <p>Vote totals:<br></p>
      <p style="line-height:1.2">Good - {{ VOTES["good"] }}<br>
      Neutral - {{ VOTES["neutral"] }}<br>
      Bad - {{ VOTES["bad"] }}<br></p>
    <p>{{ TABLE_ELM }}</p>
  </body>
</html>