<h1>Please enter main key</h1>
<p><FONT COLOR="#ff0000"> {{error}}</FONT></p>
<form action="" method="post"><input name="key" type="password" value="{{request.form.key}}" placeholder="Key" /><input type="submit" value="Login" /></form>